/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ===================== Base Styles =========================== */

html {
  font-size: 16px;
}
 
body {
  color: #e2e3ed;
  font-family: 'Open-sans', sans-serif;
  font-size: 1em;
  text-align: left;
}
 
ul, 
ol {
  font-weight: bold;
  list-style-type: none;
 }
 
a {
  color: #e2e3ed;
  text-decoration: none;
}

h1 {
  font-size: 3.75em;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.25em;
  line-height: 1.3;
  font-weight: normal;
}
 
h3, 
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.88em;
  font-weight: normal;
}
 
p {
	font-size: 1.13em;
  line-height: 1.3;
}
 
img {
 
}
 
figure {
 
}
 
address {
  font-style: normal;
 
}
 
.content-wrapper {
  width: 90%; /** Contains all content with a margin of 10%. Exceptions are background images and embedded map **/
  margin: 3em 0;
}

/* ================ Header and Footer Styles and Flexbox ================ */

/* body {
  display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
} */

/* main {
  display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
  width: 100%;
} */

header,
footer {
  background: #202322;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

/***** Header Styles *****/

header {
  padding: 1em 0;
}

header .content-wrapper { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}
header a {
  margin: 0; /* attempt to remove margin on logo image*/
}

header img {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-right: 0; /* attempt to remove margin on logo image*/
  }

header .header-divider {
  width: 100%;
  height: 0.06em;
  margin: 0.63em 0 1.26em 0;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 70%;
 }

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%; /* also used 75% not sure which looks best*/
  padding: 0;
}


/***** Footer Styles *****/

footer {
  flex-direction: column;
}

footer .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 63%;
}

footer p {
  margin: 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
}

footer .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  margin-bottom: 3em;
}

footer .contact address {
  text-align: center;
}

footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  margin-bottom: 3em;
}

footer .social-icons {
 display: flex;
 justify-content: space-around;
 align-content: center;
 width: 50%;
}

footer .copyright {
  margin-bottom: 1.26em; 
  /* copyright div inside of content-wrapper div which has a 3em top-bottom margin so setting this to 0em*/
}

/* ================ Mobile Styles - Homepage ================ */


/*** Main Section Styles ***/

.hero-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.hero-area .content-wrapper {}

.hero-area h1 {
  width: 90%; /* reduced width got 3 line returns exact with design comp*/
}


/*** Newsletter Sign-up and Download ***/
aside {
  background: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

aside .content-wrapper {}

.form-description {}

.form {}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

/*** Features section w/ article divs, fontawesome icons ***/

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.features p {
  margin: 0;
}

.features h2 {
  width: 90%; /* reduced width got 3 line returns exact with design comp*/
  margin-bottom: 2em;
}

.features .content-wrapper {}

.features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

}

.features article {
  width: 63%;
  margin: 1.26em;
}

.fontawesome-icon {}

.features-item-description {
  text-align: center;
}


/*** Reviews section ***/

.reviews {
  background: #2a423a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}
.review h2 {
  margin-bottom: 2em;
}

.reviews .content-wrapper {}

.reviews h3 {
  width: 55%;
  margin: 1.26em 0;
}

.reviews img {}



/* ================ Mobile Styles - About page ================ */

/*** Mission statement section ***/

.mission {
  background: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  /* the content-wrapper has a 3em top-bottom margin*/ 
}

.mission .content-wrapper {}

.mission-content {}

/***Embedded Map***/

.map {}

.map figure {}

/*** Contact Section ***/

.contact-section {
  background: #2a423a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  /* the content-wrapper has a 3em top-bottom margin*/
}

.contact-section .content-wrapper {}

.contact-content {}

.contact-content div {}

.contact-section address {}


/* ================ Mobile Styles - FAQ page ================ */

/*** faq section, each QnA is a seperate but identically named div faq-content ***/

.faq {
  background: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.faq .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: ;
}

.faq h2 {
  margin-bottom: 3em;
}

.faq-content {
  margin-bottom: 3em;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   These queries override the primary ('mobile first') styles.
   Using two breakpoints, 768px for tablets and 1200px for desktop
   ========================================================================== */


/* ========================== TABLET STYLES ============================= */ 
   @media only screen and (min-width: 768px) {
  
    /* ========================= Base Styles ========================= */

    /* header */

  header .content-wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    margin: 0;
  }

  /* footer */

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-flow: row nowrap;
    width: 100%;
    margin-bottom: 0em;
  }

  footer .contact, 
  footer .social {
    display: flex;
    flex-basis: 50%;
  }

  /* ========================= Home Page ========================= */
  /* hero-area */
  
  /* aside-area */

  aside .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  aside .content-wrapper .form-description,
  aside .contnet-wrapper .form-description {
    width: 40%;
    margin: 0;
  }

  /* features */
  .features-items {
    width: 100%;
  }
  
  .features article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 40%;
    height: 12em;
  }

  .features-item-description {
    margin: 0;
    padding: 0 2.5em;
  }

  /* reviews */

  .reviews h2 {
    width: 100%;
  }

  .reviews article {
    display: flex;
    justify-content: space-around;
  }

  .reviews article div {
    width: 40%;
  }
    
  /* ========================= FAQ Page ========================= */

  .faq .content-wrapper {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-flow: row wrap;
  }
  
  .faq h2 {
    width: 100%;
  }

  .faq-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: row wrap;
    flex-basis: 45%;
  }

  .faq p {
    padding-right: 20px;
  }


  /* ========================= About Page ========================= */

  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .mission-content p {
    width: 45%;
  }

  .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }


}

/* ========================== DESTKTOP STYLES ============================= */ 
@media only screen and (min-width: 1200px) {
 /* ========================= Base Styles ========================= */
  
  .content-wrapper {
    max-width: 960px; /** Contains all content in a 960px width container despite the screen getting larger. Exceptions are background images and embedded map **/
    margin: 3em 0;
  }
  


/* ========================= Home Page ========================= */
  /* hero-area */

  .hero-area h1 {
    font-size: 3.75em;
    width: 75%;
  }

  /* aside */
  aside .content-wrapper {
    justify-content: space-around;
  }

  aside .content-wrapper .form-description,
  aside .content-wrapper .form {
    width: 30%;
  }


  /* features */

  .features article {
    width: 100%;
    margin: 0;
    flex-basis: 33%;
  }

  
  /* reviews */

  .reviews .content-wrapper article {
    flex-flow: row wrap;
  }


  /* ========================= About Page ========================= */


  /* ========================= FAQ Page ========================= */


}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

